/* ==========================================================================
   adaptive class
   ========================================================================== */
a,
button,
img {
  outline: none !important;
}
fieldset {
  margin-bottom: 20px;
}
.footer_page {
  position: relative;
  z-index: 1;
}
.footer_nav_list {
  float: left;
  clear: none;
  width: 22.75%;
  margin-left: 0%;
  margin-right: 3%;
}
.footer_nav_list:last-child {
  margin-right: 0%;
}
.texture_gray .section_title {
  color: #fff;
  margin-bottom: 10px;
  clear: both;
}
.brand_logo {
  margin-bottom: 10px;
}
.header-slogan {
  float: left;
  font: bold 16px/20px Roboto, sans-serif;
}
@media screen and (max-width: 979px) {
  .header-slogan {
    display: none;
  }
}
.header-slogan .mark {
  font-size: 22px;
}
@media screen and (max-width: 767px) {
  .header-work-time {
    float: none;
    text-align: left;
  }
}
.radio-styled {
  text-align: left;
}
.radio-styled input {
  display: none;
  width: 0;
  height: 0;
}
.radio-styled label {
  display: inline-block;
  line-height: 21px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  top: 0;
  margin: 5px 3px;
  padding: 5px;
  background-color: #e5e5e5;
  cursor: pointer;
}
.radio-styled input:checked + label {
  color: #fff;
  background-color: #f50;
}
.section-pad {
  padding: 40px 0;
}
.bg {
  background-color: #f5f5f5;
}
.slick-slide {
  float: left;
}
.slick-slider {
  position: relative;
  overflow: hidden;
}
.slide-item {
  float: left;
  position: relative;
  margin: 0 10px;
}
.slide-item img {
  width: 100%;
}
.slide-bf-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  text-transform: uppercase;
  font: bold 18px/1 roboto, sans-serif;
  color: #fff;
  text-align: center;
  background: rgba(0,0,0,0.7);
}
.article-block {
  overflow: hidden;
}
.left-img {
  float: left;
  margin-right: 40px;
  max-width: 50%;
}
.right-img {
  float: right;
  margin-left: 40px;
  max-width: 50%;
}
@media screen and (max-width: 767px) {
  .left-img,
  .right-img {
    float: none;
    margin: 0 0 20px;
    max-width: 100%;
  }
}
.no-pad {
  margin-top: -60px;
  margin-bottom: -40px;
}
@media screen and (max-width: 767px) {
  .no-pad {
    margin-bottom: 20px;
  }
}
.inline-img {
  margin-right: 10px;
  vertical-align: middle;
}
.pay_metod {
  background: #e9f0f2 url("../img/pay-bg.jpg") no-repeat right top;
}
@media screen and (max-width: 767px) {
  .pay_metod {
    background-image: none;
  }
}
.small-title,
.editor .small-title {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 10px 0;
}
.editor img {
  max-width: 100% !important;
  height: auto !important;
}
table {
  max-width: 100%;
  display: block;
  overflow-x: auto;
}
.pay_metod_cnt {
  width: 60%;
}
@media screen and (max-width: 767px) {
  .pay_metod_cnt {
    width: 100%;
  }
}
.slider-count {
  position: relative;
}
.slider-count__item {
  float: left;
}
.slider-count__control {
  font: 18px roboto, sans-serif;
  text-align: center;
}
.slider-count__control-counter {
  margin: 0 10px;
}
.slider-count .slick-arrow {
  font-weight: bold;
  font-size: 24px;
}
.current-slide {
  color: #f50;
}
.table-zebra tr:nth-child(even) {
  background-color: #f3f3f3;
}
caption {
  background-color: #e4e4e4;
  padding: 10px;
  color: #323232;
  font: bold 30px roboto, sans-serif;
  text-transform: uppercase;
}
.table-size {
  margin-bottom: 40px;
  font-family: roboto;
  font-weight: bold;
}
.table-size tr:first-child td {
  color: #f50;
}
.table-size th,
.table-size td {
  padding: 10px;
}
.table-size th {
  background-color: #aeaeae;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
}
.table-size tr:nth-child(even) th {
  background-color: #9d9d9d;
}
.table-size td {
  border: 1px solid #e4e4e4;
  text-align: center;
}
@media screen and (max-width: 420px) {
  .table-size {
    display: block;
    overflow-x: auto;
  }
}
.error404 {
  background-color: rgba(0,0,0,0.5);
  padding: 40px;
  max-width: 80%;
  box-sizing: border-box;
  margin: auto;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font: bold 16px roboto, sans-serif;
}
.error404 p {
  margin: 20px 0;
}
.search {
  position: relative;
}
.search-input {
  border: 0px none;
  background-color: #ededed;
  height: 30px;
  margin-right: 20px;
}
.search-input:-moz-placeholder,
.search_header_input:-moz-placeholder {
  color: #ccc;
  color: #363636;
  font: bold 16px roboto, sans-serif;
  text-transform: uppercase;
}
.search-input::-moz-placeholder,
.search_header_input::-moz-placeholder {
  color: #ccc;
  color: #363636;
  font: bold 16px roboto, sans-serif;
  text-transform: uppercase;
}
.search-input:-ms-input-placeholder,
.search_header_input:-ms-input-placeholder {
  color: #ccc;
  color: #363636;
  font: bold 16px roboto, sans-serif;
  text-transform: uppercase;
}
.search-input::-webkit-input-placeholder,
.search_header_input::-webkit-input-placeholder {
  color: #ccc;
  color: #363636;
  font: bold 16px roboto, sans-serif;
  text-transform: uppercase;
}
@media screen and (min-width: 980px) {
  .footer_page {
    margin-top: -400px;
    height: 400px;
    clear: both;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
  }
}
.w50 {
  float: left;
  clear: none;
  width: 48.5%;
  margin-left: 0%;
  margin-right: 3%;
}
.w50:last-child {
  margin-right: 0%;
}
@media screen and (max-width: 420px) {
  .w50 {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .w50:first-child {
    margin-left: auto;
  }
  .w50:last-child {
    margin-right: auto;
  }
}
section:after {
  content: "";
  display: table;
  clear: both;
}
.l_wrap {
  padding: 10px 0;
}
.l_wrap:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 979px) {
  .l_wrap {
    position: fixed;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: #fff;
    box-sizing: border-box;
    z-index: 500;
  }
}
@media screen and (max-width: 979px) {
  .brand_block {
    margin-top: 60px;
  }
}
#btn-mob-menu,
.mob-filter__icon {
  background: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjI0IiB2aWV3Qm94PSIwIDAgMzQgMjQiIHdpZHRoPSIzNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjMjMxRjIwIj48cGF0aCBkPSJNMCAwaDM0djZoLTM0ek0wIDloMzR2NmgtMzR6TTAgMThoMzR2NmgtMzR6Ii8+PC9nPjwvc3ZnPg==") no-repeat 50% 50%;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 30px;
  margin: 0px 20px 0 0;
}
@media screen and (min-width: 980px) {
  #btn-mob-menu,
  .mob-filter__icon {
    display: none;
  }
}
.search_header_wrap {
  display: inline-block;
  vertical-align: middle;
}
@media screen and (max-width: 979px) {
  .brand_nav_wrap,
  .main_menu_wrap {
    display: none;
  }
}
.mm-menu .main_menu > .menu_item {
  width: 100%;
  float: none;
}
.mm-menu .main_menu .sub_menu {
  position: static;
  visibility: visible;
  opacity: 1;
  padding: 0;
  margin: 0;
  background-color: transparent;
}
.mm-menu .main_menu .menu_icon_sale {
  margin-top: 0;
}
.mm-menu .main_menu .menu_icon_sale .menu_link {
  position: static;
  color: inherit;
  font: bold 16px/30px Roboto, arial, helvetica, sans-serif;
  padding: 10px 10px 10px 20px;
  display: block;
}
.mm-menu .main_menu .menu_icon_sale .menu_link:hover {
  color: #ed1c24;
}
.mm-menu .main_menu .menu_icon_sale .menu_link:before {
  content: none;
}
.mm-navbar .brand_nav_wrap {
  display: block;
  color: #424242;
  padding: 0 20px;
  text-align: center;
}
.mm-navbar .brand_nav_wrap .menu_item {
  float: none;
  display: inline-block;
  margin: 10px;
}
@media screen and (max-width: 979px) {
  .brand_line {
    background-image: none;
    clear: both;
    padding-left: 0;
  }
}
@media screen and (min-width: 980px) {
  .header_page {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
  }
  .page_wrap {
    padding-top: 140px;
    padding-bottom: 400px;
  }
}
@media screen and (max-width: 767px) {
  .slogan,
  .main_tel_header {
    float: left;
  }
}
@media screen and (max-width: 420px) {
  .slogan,
  .main_tel_header {
    float: none;
    width: 100%;
    display: block;
    text-align: left;
    margin-left: 0 !important;
  }
}
@media screen and (max-width: 979px) {
  img {
    max-width: 100%;
  }
}
@media screen and (max-width: 979px) {
  .small_news_wrap {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .small_news_wrap:first-child {
    margin-left: auto;
  }
  .small_news_wrap:last-child {
    margin-right: auto;
  }
}
.carousel .small_product_item {
  width: 320px;
}
@media screen and (max-width: 767px) {
  .index_promo_nav {
    float: none;
  }
  .nav_promo_sex {
    text-align: center;
  }
  .nav_promo_sex_item {
    width: auto;
    float: none !important;
    display: inline-block;
  }
  .nav_promo_shop {
    margin-bottom: 10px;
  }
  .promo_action {
    float: none;
    display: block;
    width: 397px;
    max-width: 100%;
    margin: auto;
  }
}
@media screen and (max-width: 979px) {
  .news_short .small_news_item {
    float: left;
    clear: none;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
  }
  .news_short .small_news_item:last-child {
    margin-right: 0%;
  }
}
@media screen and (max-width: 767px) {
  .news_short .small_news_item {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .news_short .small_news_item:first-child {
    margin-left: auto;
  }
  .news_short .small_news_item:last-child {
    margin-right: auto;
  }
}
@media screen and (max-width: 979px) {
  .small_news_media {
    float: none;
  }
}
.small_collection_item {
  width: 275px;
  float: left;
  margin: 0 10px;
}
@media screen and (max-width: 979px) {
  .sight_data {
    float: none;
    text-align: center;
    clear: both;
  }
}
@media screen and (max-width: 979px) {
  .copyright {
    clear: both;
    display: inline;
    margin-left: 10px;
  }
}
@media screen and (max-width: 979px) {
  .footer_nav_list {
    float: left;
    clear: none;
    width: 48.5%;
    margin-left: 0%;
    margin-right: 3%;
    margin-bottom: 20px;
  }
  .footer_nav_list:nth-of-type(2n) {
    margin-right: 0%;
    float: right;
  }
  .footer_nav_list:nth-of-type(2n+1) {
    clear: both;
  }
}
@media screen and (max-width: 420px) {
  .footer_nav_list {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .footer_nav_list:first-child {
    margin-left: auto;
  }
  .footer_nav_list:last-child {
    margin-right: auto;
  }
}
@media screen and (max-width: 767px) {
  .footer_social {
    float: left;
    clear: left;
  }
}
.footer_partners a {
  display: inline-block;
  margin-bottom: 10px;
}
.footer_page .shop_logo {
  margin-bottom: 10px;
}
.footer_page .pay_list_ico {
  margin-bottom: 10px;
}
@media screen and (max-width: 420px) {
  .search_header_input {
    width: 80px;
  }
}
@media screen and (max-width: 500px) {
  .special_nav_item {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .special_nav_item:first-child {
    margin-left: auto;
  }
  .special_nav_item:last-child {
    margin-right: auto;
  }
}
@media screen and (max-width: 979px) {
  .catalog_aside,
  .catalog_model {
    display: block;
    width: 100%;
  }
  .filter {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    clear: both;
    -webkit-transition: all 0.5s;
            transition: all 0.5s;
    padding: 0;
  }
  .filter.show_filter {
    max-height: 5000px;
    opacity: 1;
    padding: 15px;
  }
}
@media screen and (max-width: 767px) {
  .catalog_model .small_product_item,
  .collection_page .small_product_item {
    float: left;
    clear: none;
    width: 50%;
    margin-left: 0%;
    margin-right: 0%;
  }
  .catalog_model .small_product_item:after,
  .collection_page .small_product_item:after {
    content: "";
    display: table;
    clear: both;
  }
  .catalog_model .small_product_item:nth-of-type(2n),
  .collection_page .small_product_item:nth-of-type(2n) {
    float: right;
  }
  .catalog_model .small_product_item:nth-of-type(2n + 1),
  .collection_page .small_product_item:nth-of-type(2n + 1) {
    clear: both;
  }
  .catalog_model .small_product_item:nth-child(3n+2),
  .collection_page .small_product_item:nth-child(3n+2) {
    background-color: #f1f1f1;
  }
  .catalog_model .small_product_item:before,
  .collection_page .small_product_item:before {
    left: -38px;
    box-shadow: inset -38px 0 38px -38px rgba(0,0,0,0.1);
  }
  .catalog_model .small_product_item:after,
  .collection_page .small_product_item:after {
    right: -38px;
    box-shadow: inset 38px 0 38px -38px rgba(0,0,0,0.1);
  }
}
@media screen and (max-width: 500px) {
  .catalog_model .small_product_item,
  .collection_page .small_product_item {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .catalog_model .small_product_item:first-child,
  .collection_page .small_product_item:first-child {
    margin-left: auto;
  }
  .catalog_model .small_product_item:last-child,
  .collection_page .small_product_item:last-child {
    margin-right: auto;
  }
}
#filter:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width: 979px) {
  .catalog_filter_count {
    float: left;
  }
}
@media screen and (max-width: 420px) {
  .catalog_filter_count {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .catalog_filter_count.fixed {
    position: static;
  }
}
@media screen and (max-width: 979px) {
  .catalog_aside:before {
    content: none;
  }
}
@media screen and (max-width: 420px) {
  .filter_line {
    text-align: center;
  }
}
.mob {
  display: none;
}
@media screen and (max-width: 979px) {
  .mob {
    display: block;
  }
}
.mob-filter {
  padding: 10px 20px;
  float: right;
  text-transform: uppercase;
  margin-right: 10px;
  font-weight: bold;
  cursor: pointer;
}
@media screen and (max-width: 420px) {
  .mob-filter {
    float: none;
    text-align: center;
  }
}
.mob-filter__icon {
  margin: 0 0 0 10px;
  width: 25px;
  height: 25px;
}
.product_media {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .product_media {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
  }
  .product_media:first-child {
    margin-left: auto;
  }
  .product_media:last-child {
    margin-right: auto;
  }
}
@media screen and (max-width: 767px) {
  .product_tech {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .product_tech:first-child {
    margin-left: auto;
  }
  .product_tech:last-child {
    margin-right: auto;
  }
}
.product_price .product_availability {
  white-space: nowrap;
}
@media screen and (max-width: 767px) {
  .product_price .product_availability {
    font-size: 16px;
  }
}
@media screen and (max-width: 767px) {
  .product_info_txt,
  .product_info_media {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .product_info_txt:first-child,
  .product_info_media:first-child {
    margin-left: auto;
  }
  .product_info_txt:last-child,
  .product_info_media:last-child {
    margin-right: auto;
  }
}
@media (min-width: 451px) {
  .product_slider_thumb .slick-next,
  .product_slider_thumb .slick-prev {
    width: 100%;
    height: 34px;
    margin-top: 0;
  }
  .product_slider_thumb .slick-prev {
    background: #f9f9f9 url("../img/arr_prev_vert_dark.png") no-repeat 50% 50%;
    background-image: url("../img/arr_prev_vert_dark.svg"), none;
    background-size: 28px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    top: 0px;
  }
  .product_slider_thumb .slick-next {
    background: #f9f9f9 url("../img/arr_next_vert_dark.png") no-repeat 50% 50%;
    background-image: url("../img/arr_next_vert_dark.svg"), none;
    background-size: 28px;
    box-shadow: -1px 1px 3px rgba(0,0,0,0.2);
    bottom: 0px;
    top: auto;
  }
}
@media (max-width: 450px) {
  .product_slider_thumb {
    float: none;
    width: 100%;
    padding: 0 30px;
    margin-bottom: 20px;
  }
  .product_slider_thumb .slick-prev {
    left: -10px;
  }
  .product_slider_thumb .slick-next {
    right: -10px;
  }
  .product_slider_thumb_item {
    width: 80px;
    float: left;
  }
  .product_slider {
    margin-left: 0;
  }
}
@media screen and (max-width: 979px) {
  .collection_model_list {
    float: none;
    width: 100%;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (max-width: 979px) {
  .sec_menu,
  .sec_menu.fixed {
    position: static;
    padding: 0 20px;
  }
  .sec_menu_item {
    display: inline-block;
    border-left: 1px solid #d3d3d3;
  }
  .sec_menu_link {
    border: none;
  }
  .collection_page .section_title {
    padding-left: 20px;
  }
}
@media screen and (max-width: 767px) {
  .cart_basket_table {
    display: block;
    overflow-x: auto;
  }
}
@media screen and (max-width: 420px) {
  .cart_basket_table tbody,
  .cart_basket_table tr {
    display: block;
  }
  .cart_basket_table th {
    display: none;
  }
  .cart_basket_table td {
    display: block;
    text-align: center;
  }
  .cart_basket_table .cart_td_price {
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .btn {
    float: none;
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 10px 0;
  }
  .btn + .btn {
    margin: 10px 0;
  }
}
.product_smb_card {
  float: left;
  clear: none;
  width: 57.0833333333333%;
  margin-left: 0%;
  margin-right: 3%;
}
.product_smb_card:last-child {
  margin-right: 0%;
}
@media screen and (max-width: 767px) {
  .product_smb_card {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .product_smb_card:first-child {
    margin-left: auto;
  }
  .product_smb_card:last-child {
    margin-right: auto;
  }
}
.product_smb_pay-info {
  float: left;
  clear: none;
  width: 39.9166666666667%;
  margin-left: 0%;
  margin-right: 3%;
}
.product_smb_pay-info:last-child {
  margin-right: 0%;
}
@media screen and (max-width: 767px) {
  .product_smb_pay-info {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .product_smb_pay-info:first-child {
    margin-left: auto;
  }
  .product_smb_pay-info:last-child {
    margin-right: auto;
  }
}
@media screen and (max-width: 767px) {
  .cart_form_addr,
  .cart_form_money {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .cart_form_addr:first-child,
  .cart_form_money:first-child {
    margin-left: auto;
  }
  .cart_form_addr:last-child,
  .cart_form_money:last-child {
    margin-right: auto;
  }
}
@media screen and (max-width: 767px) {
  .contact_list,
  .contact_form {
    display: block;
    clear: both;
    float: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .contact_list:first-child,
  .contact_form:first-child {
    margin-left: auto;
  }
  .contact_list:last-child,
  .contact_form:last-child {
    margin-right: auto;
  }
}

/*# sourceMappingURL=media.css.map */